                <main class="main-page">
                    <div class="main-back">
                        <div class="artist-main-pic">
                            <img src="/images/IMG_1215.jpeg" alt="">
                        </div>
                        <div class="ttl-wrap artist-ttl-wrap">
                            <h1>ARTIST
                                <br><span>作家について</span>
                            </h1>
                        </div>
                    </div>
                    <div class="main-front">
                        <div class="main-front-profile">
                            <div class="profile-wrap">
                             <div class="profile-img">
                                <img src="/images/IMG_5687.jpeg" alt="">
                             </div>
                             <div class="text-wrap">
                                <h3>
                                    佐藤 東魚
                                    <span class="p-e">Sato Togyo</span>
                                </h3>
                                 <div class="awards">
                                    <h4>陶歴</h4>
                                    <ul>
                                        <li>40際の頃から陶芸を始めて早40年</li>
                                        <li>1990年茅ヶ崎市浜之郷で、佐藤東魚「陶芸の館」を開館</li>
                                        <li>陶芸を教える傍ら、地元の人の集いの場としてサロンを始める。</li>
                                        <li>80歳を過ぎ、娘家族が居住している沖縄へと移住。。</li>
                                        <li></li>
                                    </ul>
                                 </div>
                             </div>
                            </div>
                        </div>
                    </div>
                </main>
    </body>
</html>