
 <link rel="stylesheet" href="/css/stylesheet.contact.css">
                <main>
                    <div class="contact">
                        <div class="contact-ttl">
                         <h2>
                            CONTACT
                            <span>お問い合わせ</span>
                         </h2>
                        </div>
                        <p>
                            <!-- お問い合わせはこちらのフォームからお願いします。 -->
                            只今、システム調整中。お使いになれません。
                        </p>
                        <p class="contact-p-e">
                            The system is currently being adjusted.
                            <br>
                            Please cantact us via Instagram DM. Thank you.
                        </p>
                        <div class="contactform">
                            <form action="">
                                <div class="in-form">
                                    <p>お名前
                                     <span class="contact-p-e">Name</span>
                                     <!-- <span class="astrsk">*</span> -->
                                    </p>
                                    <input class=formtype type="text" size="40" placeholder="例）佐藤 太郎">
                                    <p>メールアドレス
                                      <span class="contact-p-e">Email Address</span>
                                      <!-- <span class="astrsk">*</span> -->
                                    </p>
                                      <input class="formtype" type="text" size="40" placeholder="例）example@mail.com" value type="email">
                                    <p>件名
                                     <span class="contact-p-e">Title</span>                                
                                    </p>
                                    <input class="formtype" type="text" size="40" placeholder="例）作品について">
                                    <p>お問い合わせ内容
                                        <span class="contact-p-e">Message</span>
                                        <!-- <span class="astrsk">*</span>  -->
                                    </p>
                                    <textarea class="formtype" name="message" id="" cols="40" rows="10"></textarea>
                                </div>
                                <div class="in-form-submit">
                                    <input class="formtype form-submit"  type="submit" value="送信/Send">
                                </div>
                            </form>
                        </div>
                    </div>
                </main>
    </body>
</html>