
<div class="home-title">
  <h1>HOME</h1>
</div>
<div class="contents-operate-site">

  <a href="/works_operate">
    <div class="works-btn">
      <p>Works</p>
    </div>
  </a>  

  <a href="/exhibition_operate">
    <div class="exhibition-btn">
      <p>Exhibition</p>
    </div>
  </a>  

</div>