<div class="formbox">
  <form action="/login" method="post">
      <h2>ログイン</h2>

      <label for="email">
        <p>メールアドレス</p>
        <input type="text" name="email">
      </label>


      <label for="password">
        <p>パスワード</p>
        <input type="password" name="password">
      </label>

      <label for="submit" class="send">
        <input type="submit" value="送信">
      </label>

  </form>
</div>