
/* 見出し/////////// */

.main-pic{
    max-width: 2000px;
    margin: 0 auto;

}
.main-pic img {
    height: 100vh;
    width: 100%;
    margin-top: 80px;
 }

.ttl-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    min-width: 300px;
    max-width: 400px;
    height: 130px;
    line-height: 35px;
    color: #fff;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0.199);
}

.ttl-wrap h1 {
    font-family: "Abel";
    font-size: 32px;
    letter-spacing: 4px;
    text-align: center;
    font-weight: normal;
}
   
.ttl-wrap span {
     font-size: 14px;
}

/* メインコンテンツ */


.main-exhibition-contents h2 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    /* padding-left: 60px; */
}

.main-exhibition-contents h2 span {
    display: none;
    padding-left: 10px;
    font-weight: normal;
    font-size: 25px;
}

.event-contents {
    width: 88%;
    margin: 0 auto;
}

.main-exhibition-contents {
    padding-top: 10%;
}

.event-contents ul li {
    margin-top: 30px;
    margin-bottom: 10px;
}

.event-contents ul li a img {
    object-fit: cover;
}

.i-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}

.eventlist-ttl {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 4px;
}

.event-contents ul li a time {
    margin-top: 8px;
    display: block;
    font-size: 12px;
    color: #888;
    letter-spacing: 0.75px;
}

.event-contents ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

@media screen and (max-width: 1183px){
    .main-pic img{
        margin-top: 7.5vh;
     }

    .ttl-wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     }
}

@media screen and (max-width: 950px){
    .main-back{
        display: none;
    }
    .ttl-wrap{
        display: none;
    }
    .main-pic img{
        margin-top: 7.5vh;
        height: auto;
        position: relative;
    }
    .main-exhibition-contents {
        padding-top: 15%;
    }
    .main-exhibition-contents h2 span {
        display: inline-block;   
    }
}
@media screen and (max-width: 440px){
    .main-pic img{
        margin-top: 7vh;
    }
}





